/*(1)清除默认样式*/
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
    margin: 0;
    padding: 0;
}

/* 
fieldset,
img,
input,
button {
    border: 0 none;
    padding: 0;
    margin: 0;
    outline-style: none;
} */

/*去掉input等聚焦时的蓝色边框*/
ul,
li,
ol {
    list-style: none;
}

select,
input {
    vertical-align: middle;
}

/*select, input, textarea { font-size:12px; margin:0; }*/
textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: #5e5e5e;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*2.添加公共样式*/
body {
    font: 12px Arial, Verdana, "\5b8b\4f53";
    color: #5e5e5e;
}

/*清除浮动（不管）*/
.clearfix:before,
.clearfix:after {
    /*清楚浮动*/
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1em;
}

设置h标签的大小，设置跟父亲一样大的字体font-size:100%; */
s,
i,
em {
    font-style: normal;
    text-decoration: none;
}

/*------------------------公共类------------------------*/
.wbox {
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tc {
    text-align: center;
}

.dn {
    display: none;
}

.oh {
    overflow: hidden;
}

.mg {
    margin: 0 auto
}

/* --------------------字体大小-------------------- */
.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f17 {
    font-size: 17px;
}

.f18 {
    font-size: 18px;
}

.f19 {
    font-size: 19px;
}

.f20 {
    font-size: 20px;
}

.f21 {
    font-size: 21px;
}

.f22 {
    font-size: 22px;
}

.f23 {
    font-size: 23px;
}

.f24 {
    font-size: 24px;
}

.f25 {
    font-size: 25px;
}

/* --------------------定位-------------------- */
.pr {
    position: relative;
}

.pa {
    position: absolute;
}

/* -----------------字体颜色----------------- */
.red {
    color: red;
}

.blue {
    color: blue;
}

.black {
    color: black;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.pink {
    color: pink;
}

.white {
    color: white;
}

.purple {
    color: purple
}